Library/
Temp/
Obj/
Build/
/[Bb]uild/
DerivedData/
Logs/
MemoryCaptures/
Assets/AssetStoreTools/
/assets/AssetStoreTools/
[Aa]ssets/Plugins/Fingerprint.unitypackage
ExportedObj/
.consulo/
.gradle/
.idea/
.vs/
.vscode/
*.csproj
*.unitypackage
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties
build/
Build/
buil/
